{% extends 'base.html' %}
{% load static %}

{% block title%}Password Change {% endblock %}

{% block content%}
<body style="background-image: url('/static/bg2.jpg');font-family: helvetica">
	<div class="change-pass-page">
		<form action="." method="POST">
			{% if form.old_password.errors %}
			<p class="error">
				{{form.old_password.errors }}
			</p>
			{% endif %}
			<input type="password" name="old_password" autocomplete="current-password" required id="id_old_password" placeholder="Old Password">
			{% if form.new_password1.errors %}
				<p class="error">
					{{form.new_password1.errors }}
				</p>
			{% endif %}
			<p></p>
			<input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" placeholder="New Password">
			
			{% if form.new_password2.errors %}
				<p class="error">
					{{form.new_password2.errors }}
				</p>
			{% endif %}
			<br>
			<input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" placeholder="New Password Again">
			<p></p>
			{% csrf_token%}
			<button style="background: tomato;">change password</button>
		</form>
		
	</div>
</body>
{% endblock %}
{% block footer %}

{% endblock %}