{% extends 'base.html' %}

{% block title %} Add Sale Record{% endblock %}

{% block content %}
	<div class="add-sale-block">
		<div class="inner-sale-block">
			<form action="." method="POST" enctype="multipart/form-data">
				<table id="add-sale-table">
					<tr>
						<td>
							{{form.name.label_tag}}
						</td>
						<td>
							{{form.name}}
						</td>
					</tr>
					<tr>
						<td>
							{{form.price.label_tag}}
						</td>
						<td>
							{{form.price}}
						</td>
					</tr>
					<tr>
						<td>
							{{form.category.label_tag}}
						</td>
						<td>
							{{form.category}}
						</td>
					</tr>
					<tr>
						<td>
							{{form.sub_category.label_tag}}
						</td>
						<td>
							{{form.sub_category}}
						</td>
					</tr>
					<tr>
						<td>
							{{form.supplier.label_tag}}
						</td>
						<td>
							{{form.supplier}}
						</td>
					</tr>
					<tr>
						<td>
							{{form.quantity.label_tag}}
						</td>
						<td>
							{{form.quantity}}
						</td>
					</tr>
					<tr>
						<td>
							{{form.picture.label_tag}}
						</td>
						<td>
							{{form.picture}}
						</td>
					</tr>
					
				</table>
				{% csrf_token %}
				<button>Add Record</button>
			</form>
		</div>
	</div>
{% endblock %}